*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(216, 132, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: fixed;
    width: 300px;
    height: 420px;
}

.face {
    position: absolute;
    top: 0;
    background: #d32727;
    overflow: hidden;
    width: 90%;
    height: 350px;
    border-radius: 40% / 30% 30% 70% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1{
    position: absolute;
    left:-15%;
    top:23%;
    width: 100px;
    height: 50px; 
    background-color: #b5b812; 
    border-radius: 100px 100px 0 0;
    transform: rotate(-90deg); 
}

.raio1{
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 140px solid #b5b812;
    border-radius: 80px 50px 150px 90px;
    left: -21%;
    top: -4%;
    transform: skew(23deg);
}

.raio2{
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 140px solid #b5b812;
    border-radius: 80px 50px 150px 90px;
    left: 98%;
    top: -4%;
    transform: skew(-30deg);
}


.circle2{
    position: absolute;
    left:72%;
    top:23%;
    width: 100px;
    height: 50px; 
    background-color: #b5b812; 
    border-radius: 100px 100px 0 0;
    transform: rotate(90deg); 
}

.open{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 7%;
}

.top{
    display: flex;
    overflow: hidden;
}

.triangle1{
    position: absolute;
    left: 27%;
    bottom: 19%;
    border-left: 50px solid transparent;
    border-right: 0;
    border-bottom: 100px solid #dfad8c;
    transform: rotate(90deg);
    border-radius: 20%;
}

.trapezio{
    border-bottom: 35px solid #dfad8c;
    border-left: 27px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 93px;
    position: absolute;
    left: 34%;
    bottom: 30%;
    border-radius: 20%;
}


.triangle2{
    position: absolute;
    left: 145px;
    bottom: 19%;
    border-left: 0;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #dfad8c;
    transform: rotate(270deg);
    border-radius: 20%;
}

.bottom{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 100px solid #dfad8c;
    border-radius: 50%;
    transform: rotate(180deg);
}

.line{
    width: 70px; 
    height: 2px;  
    background-color: #754040;  
    position: relative;
    z-index: 7;
    left:37%;
    opacity: 0.5;
    bottom: -13%;
    transform: rotate(-8deg);
}

.linesmall{
    
    width: 10px;
    height: 2px;
    background-color: #754040;
    opacity: 0.5;
    position: relative;
    z-index: 7;
    left:139px;
    bottom: -9%;
    transform: rotate(81deg);
}

.eyes {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 50px;
    z-index: 3;
    top: 39%;
    left: 51%;
    transform: translate(-50%);
}

.eyes::before,
.eyes::after {
    content: "";
    position: relative;
    background: white;
    width: 60px;
    height: 28px;
    border-radius: 15% 15% 50% 50%;
    transform: perspective(6px) rotateY(5deg) rotateZ(23deg);
}

.eyes::after {
    transform: perspective(6px) rotateY(-5deg) rotateZ(-23deg);
}
